	{{!-- error info --}}
	{{#if errorInfo}}
	<div class="modal displayBlock" id="error-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-white">
				<div class="modal-header bg-danger">
					<h5 class="modal-title" id="exampleModalLabel">Błąd wysyłania</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModalInfo('error-info')"></button>
				</div>
				<div class="modal-body">
					&#10060; Mail nie został wysłany!
					<br><br>{{errorInfo}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" onclick="closeModalInfo('error-info')">Ok</button>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	{{!-- success info --}}
	{{#if successInfo}}
	<div class="modal displayBlock" id="success-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-white">
				<div class="modal-header bg-success">
					<h5 class="modal-title" id="exampleModalLabel">Success</h5>
					<a href="/order">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModalInfo('success-info')"></button>
					</a>
				</div>
				<div class="modal-body">
					&#9989; Mail został wysłany!
				</div>
				<div class="modal-footer">
					<a href="/order"><button type="button" class="btn btn-success" onclick="closeModalInfo('success-info')">Ok</button></a>
				</div>
			</div>
		</div>
	</div>
	{{/if}}