<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}} 
{{> modal}}
{{!-- nagłowek strony --}}
<div class="container-fluid page-header">
	<h3>{{pageHeader}}</h3>
</div>
<div class="container-fluid main-container container-height">
	{{!-- linki do innych stron --}}
	{{> sidebar}}
	{{!-- narzędzia --}}
	<div class="content">
		{{!-- <div class="section-header">&mdash; Narzędzia &mdash;</div>
		<div class="content__section">
			<a class="left-sidebar__link" href="/order/capacity">
				<div class="left-sidebar__img">
					<img src="/icons/page.png" alt="img">
				</div>
				<p>Capacity</p>
			</a>
			<a class="left-sidebar__link" href="/order/grafik_outbound">
				<div class="left-sidebar__img">
					<img src="/icons/page.png" alt="img">
				</div>
				<p>Grafik Outbound</p>
			</a>
		</div> --}}
		<div class="section-header">&mdash; Narzędzia do generowania maili &mdash;</div>
		<div class="content__section">
			<div class="content__item" data-bs-toggle="modal" data-bs-target="#modal-her_nets" id="her_nets">
				<div class="content__item__img">
					<img src="/icons/mail.png" alt="img">
				</div>
				<p>Zamówienie siatek Hermes</p>
			</div>
			<div class="content__item" data-bs-toggle="modal" data-bs-target="#modal-dhl_nets" id="dhl_nets">
				<div class="content__item__img">
					<img src="/icons/mail.png" alt="img">
				</div>
				<p>Zamówienie siatek DHL</p>
			</div>
			<div class="content__item" data-bs-toggle="modal" data-bs-target="#modal-kamag_support" id="kamag_support">
				<div class="content__item__img">
					<img src="/icons/mail.png" alt="img">
				</div>
				<p>Wsparcie KAMAG</p>
			</div>
			<div class="content__item" data-bs-toggle="modal" data-bs-target="#modal-slow_reservation" id="slow_reservation">
				<div class="content__item__img">
					<img src="/icons/mail.png" alt="img">
				</div>
				<p>Wolna rezerwacja zleceń</p>
			</div>
			<div class="content__item" data-bs-toggle="modal" data-bs-target="#modal-missing_trailer" id="missing_trailer">
				<div class="content__item__img">
					<img src="/icons/mail.png" alt="img">
				</div>
				<p>Missing trailer</p>
			</div>
			<a class="left-sidebar__link" href="/order/zglaszanie_naczep_sb">
				<div class="left-sidebar__img">
					<img src="/icons/mail.png" alt="img">
				</div>
				<p>Zgłaszanie naczep/SB</p>
			</a>
		</div>
	</div>
</div>
	{{!-- modal windows --}}
	{{!-- siatki HERMES --}}
	<div class="modal fade" id="modal-her_nets" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Zamówienie siatek Hermes</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form class="modal-form" action="/api/sendMailSafetyNets" method="post">
					<div class="modal-body">
						<input class="displayNone" type="text" name="app_name" value="her_nets">
						<p class="modal-text">Czy na pewno chcesz wysłać mail?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
						<button id="btnActionSafetyNetsHermes" type="submit" class="btn btn-primary" onclick="btnDisable('btnActionSafetyNetsHermes', 'btnDisabledSafetyNetsHermes')">Tak</button>
						<button id="btnDisabledSafetyNetsHermes" type="submit" class="btn btn-primary displayNone" disabled>Wysyłanie...</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- siatki DHL --}}
	<div class="modal fade" id="modal-dhl_nets" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Zamówienie siatek DHL</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form class="modal-form" action="/api/sendMailSafetyNets" method="post">
					<div class="modal-body">
						<input class="displayNone" type="text" name="app_name" value="dhl_nets">
						<p class="modal-text">Czy na pewno chcesz wysłać mail?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
						<button id="btnActionSafetyNetsDHL" type="submit" class="btn btn-primary" onclick="btnDisable('btnActionSafetyNetsDHL', 'btnDisabledSafetyNetsDHL')">Tak</button>
						<button id="btnDisabledSafetyNetsDHL" type="submit" class="btn btn-primary displayNone" disabled>Wysyłanie...</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- wsparcie KAMAG --}}
	<div class="modal fade" id="modal-kamag_support" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Wsparcie KAMAG</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form class="modal-form" action="/api/sendMailKamagSupport" method="post">
					<div class="modal-body">
						<input class="displayNone" type="text" name="app_name" value="kamag_support">
						<p class="modal-text">Cześć,</p>
						<p class="modal-text">Proszę o wsparcie.</p>
						<div class="form-check mt25">
							<input class="form-check-input" type="checkbox" value="checked" id="checkboxSupportKamag" name="checkboxSupportKamag" onclick="toggle('input-add-SupportKamag', 'checkboxSupportKamag')">
							<label class="form-check-label" for="checkboxSupportKamag">
								Komentarz
							</label>
						</div>
						<div class="form-check displayNone mt-2" id="input-add-SupportKamag">
							<input class="col-12" type="text" class="form-control" id="commentSupportKamag" name="commentSupportKamag" aria-describedby="emailHelp" style="padding: 0 12px;">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
						<button id="btnActionSupportKamag" type="submit" class="btn btn-primary" onclick="btnDisable('btnActionSupportKamag', 'btnDisabledSupportKamag')">Wyślij</button>
						<button id="btnDisabledSupportKamag" type="submit" class="btn btn-primary displayNone" disabled>Wysyłanie...</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- wolna rezerwacja zleceń --}}
	<div class="modal fade" id="modal-slow_reservation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Wolna rezerwacja zleceń</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form class="modal-form" action="/api/sendMailSlowReservation" method="post">
					<div class="modal-body">
						<input class="displayNone" type="text" name="app_name" value="slow_reservation">
						<p class="modal-text">Cześć,</p>
						<p class="modal-text">W tej chwili jest wolna rezerwacja zleceń.</p>
						<p class="modal-text">Proszę o sprawdzenie.</p>
						<div class="form-check mt25">
							<input class="form-check-input" type="checkbox" value="checked" id="checkboxSlowReservation" name="checkboxSlowReservation" onclick="toggle('input-add-SlowReservation', 'checkboxSlowReservation')">
							<label class="form-check-label" for="checkboxSlowReservation">
								Komentarz
							</label>
						</div>
						<div class="form-check displayNone mt-2" id="input-add-SlowReservation">
							<input class="col-12" type="text" class="form-control" id="commentSlowReservation" name="commentSlowReservation" aria-describedby="emailHelp" style="padding: 0 12px;">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
						<button id="btnActionSlowReservation" type="submit" class="btn btn-primary" onclick="btnDisable('btnActionSlowReservation', 'btnDisabledSlowReservation')">Wyślij</button>
						<button id="btnDisabledSlowReservation" type="submit" class="btn btn-primary displayNone" disabled>Wysyłanie...</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!-- missing trailer --}}
	<div class="modal fade" id="modal-missing_trailer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Missing trailer</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form class="modal-form" action="/api/sendMailMissingTrailer" method="post">
					<div class="modal-body">
						<input class="displayNone" type="text" name="app_name" value="missing_trailer">
						<div class="row">
							<div class="mb-3 col-5">
								<label for="date" class="form-label"><b>Data</b></label>
								<input type="date" class="form-control report-date" id="date" aria-describedby="emailHelp" name="date" required>
							</div>
							<div class="mb-3 col-7">
								<label for="cot" class="form-label"><b>COT</b></label>
								<select class="form-select" aria-label="Default select example" id="cot" name="cot">
									{{#each cotTrailer}}
									<option selected>{{this.cot}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="mb-3">
							<label for="missing_trailer_tdf" class="form-label"><b>TDF</b></label>
							<input type="text" class="form-control" id="missing_trailer_tdf" aria-describedby="emailHelp" name="tdf" maxlength="40" required>
							<div id="emailHelp" class="form-text">* możesz wprowadzić tylko 1 TDF,  ograniczenie do 40 znaków</div>
						</div>
						<div class="mb-3">
							<label for="missing_trailer_trailer" class="form-label"><b>Numer naczepy</b></label>
							<input type="text" class="form-control" id="missing_trailer_trailer" aria-describedby="emailHelp" name="trailer" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
						<button id="btnActionMissingTrailer" type="submit" class="btn btn-primary" onclick="btnDisable('btnActionMissingTrailer', 'btnDisabledMissingTrailer')">Wyślij</button>
						<button id="btnDisabledMissingTrailer" type="submit" class="btn btn-primary displayNone" disabled>Wysyłanie...</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{{> footer}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/js/order.js"></script>

</body>
</html>