<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Dzień dobry,</p>
    <p>Backlog raport za {{date}} w załączniku.</p>
    <br>
    <span style="color: rgb(31, 73, 125)">
        Mail zostal wygenerowany automatycznie
    </span>  
</body>
</html>