<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Dzień dobry,</p>
    <p>Twoje konto {{user}} w aplikacji WRO Dirks App zostało potwierdzone.</p>
    <p>Już możesz korzystać z <a href="{{appLink}}">aplikacji.</a></p>
    <hr style="width: 100%; text-align: left;">
    <span style="color: rgb(31, 73, 125)">
        <br>Pozdrawiamy
        <br><b>WRO DIRKS APPLICATION</b>
    </span>
</body>
</html>