<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Dear all,</p>
    <p>We need a new delivery of safety nets - 3 roll containers.</p>
    <p>Can You arrange it?</p>
    <p>Thank you in advance.</p>
    <p style="color: rgb(31, 73, 125)">
        <br>Kind regards
        <br>Order Management
        <br><br>DIRKS Polska Sp. zo.o.
        <br>ul. Wrocławska 36
        <br>Wojkowice, 55-020 Żórawina
        <br><br>tel: <a href="tel:+48717367730">+48 717 36 77 30</a>
        <br>e-mail: <a href="mailto:order.wro@dirks-group.de">order.wro@dirks-group.de</a></p>
</body>
</html>